@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bitter", sans-serif;
}

h1,
h2 {
  color: #6d2626;
}

h2 {
  font-size: 2rem;
}

p,
a {
  font-family: "Poppins", sans-serif;
}

.bg-white {
  background-color: white;
  padding: 1.2rem;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #e4e4e4;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #6d2626;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: #6d2626;
  text-transform: uppercase;
  font-size: 0.9rem;
}

ul a:hover {
  color: #2e6d26;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon li a {
  color: white;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #6d2626;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.8rem;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(54, 146, 26, 0.95);
}

.mobile-menu li {
  margin-bottom: 10px;
}

button {
  width: 20%;
  border: none;
  margin-top: 1rem;
  padding: 0.3rem 1rem;
  background-color: #6d2626;
  color: #e4e4e4;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  .mobile-menu {
    flex-direction: row;
  }

  .hero {
    display: flex;
    flex-direction: column;
    padding: 4rem 0 1rem;
  }

  .hero-text {
    padding: 1.2rem;
  }

  .hero-text h1 {
    font-size: 4rem;
  }

  .hero-img {
    display: flex;
    justify-content: flex-end;
  }

  .hero-img img {
    max-width: 60%;
  }
}

@media only screen and (min-width: 600px) {
  .hero {
    padding: 6rem 0 1rem;
  }

  button {
    width: 15%;
  }

  .hero-text {
    padding: 1.2rem;
  }

  .hero-text h1 {
    font-size: 5rem;
    align-self: flex-end;
  }

  .hero-img {
    display: flex;
    justify-content: flex-end;
  }

  .hero-img img {
    max-width: 60%;
  }
}

@media only screen and (min-width: 800px) {
  .hero {
    padding-top: 10rem;
    margin-inline: 2rem;
    padding-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
  }

  button {
    max-width: 10%;
  }

  .hero-text h1 {
    font-size: 6rem;
  }

  .hero-img {
    display: flex;
    justify-content: flex-end;
  }

  .hero-img img {
    max-width: 50%;
    padding-right: 1.2rem;
    margin-top: -3rem;
  }
}

/* About */
.about {
  /* padding: 1.2rem; */
  padding-top: 5rem;
  background-color: #e4e4e4;
}

.about h2 {
  padding-left: 1.2rem;
  padding-bottom: 0.5rem;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 800px) {
  .about {
    padding: 3.2rem;
  }
}
